<div class="container">
  <div class="col-xs-4"></div>
  <div class="col-xs-4" style="text-align: center">
	  <h3>Your Account</h3>
	  <h4>Username: <%= User.find(params[:id]).username %> </h4>
	  <%= link_to "Click here to delete your account.", @user, method: :delete, data: { confirm: "Are you sure you want to delete your account?" } %>
	</div>
  <div class="col-xs-4"></div>
</div>