  <div id="banner-container">
    <h3>Welcome, <%= @user.username %>.</h3>
  </div>
  <div class="span12 text-center">

    <hr>
    <div class="form-group">
      <%= link_to "View Albums", user_albums_path(user_id: @user.id), class: "btn btn-primary btn-lg" %>
    </div>
      <div class="form-group">
        <%= link_to "Create a new album", new_user_album_path(user_id: @user.id), class: "btn btn-primary btn-lg"  %>
      </div>
  </div>
