<body class='welcome'>

	<div class='wrapper'>
		<h1>GeoPhoto</h1>
		<h3>Upload your photos and view them on a map!</h3>

		<%= link_to "Sign Up", new_user_path %>
		<%= link_to "Sign In", login_path %>
	</div>

</body>