Create a new album:

<%= form_for(@album, url: {action: "create"}) do |f| %>
  <div>
    <%= f.text_field :title, placeholder: "Enter album title here." %>
  </div>
  <%= f.submit "Create album!" %>
<% end %>