/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

.vert-spacing{
  margin: 10px 0px;
}

.photo{
  display: block;
  margin: 5px;
  border: 2px solid;
  border-radius: 5px;
  background-color: lightgrey;
  padding: 5px;
  text-align: center;
}

#map-canvas{
	 width: 500px;
   height: 400px;
}

.box{
  background-color: lightgrey;
  border: 2px solid black;
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
}

#banner-container{
  height: 250px;
  background-color: lightblue;
  margin-top: -20px;
  position: relative;
  background-image: url("");
}

#banner-header{
  color: white;
  background-color: black;
  position: absolute;
  top: 75%;
  left: 25%;
  padding: 5px;
}

.no-whitespace{
  padding: 0px;
  margin-bottom: -20px;
}

.photo-box{
  background-color: #B6AFCE;
  font-family: verdana;
  height: 200px;
  margin: 2px;
  border: 2px solid #48387B;
  border-radius: 4px;
  flex: 1 1 1;
  width: 250px;
  text-align: center;
}

.photo-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}