// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome{
	background-image: url("http://i.imgur.com/DqvIMNw.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: cover;
}

.wrapper{
	text-align: center;
	margin-top: 200px;
}

.container{
	background-color: #FFF3C2;
	position: relative;
	display: inline-block;
	border-radius: 25px;
	border: 5px solid black;
}

.welcome h1{
	font-size: 12em;
}

.welcome h3{
	font-size: 2.5em;
}

.button{
	display: inline-block;
	width: 250px;
	margin: 20px;
	padding: 20px;
	border: 2px solid;
	border-radius: 10px;
	background-color: #FFE36B;
}